* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #0099ff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtitle {
    color: #666;
    font-size: 16px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 300px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    margin: 0;
}


.pricing-card.featured {
    min-height: 520px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    z-index: 2;;
}


.pricing-card:not(.featured) {
    align-self: center;
    height: 550px;
}
.pricing-card:hover {
    transform: translateY(-5px);
}

.featured {
    position: relative;
    z-index: 1;
}

.card-header {
    padding: 20px;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.starts-at {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.price {
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.price span {
    font-size: 16px;
    font-weight: 400;
    color: #666;
}

.card-body {
    padding: 0 20px 20px;
    flex-grow: 1;
}

.features {
    list-style: none;
}

.features li {
    padding: 8px 0;
    position: relative;
    padding-left: 25px;
}

.features li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #0099ff;
    font-weight: bold;
}

.card-footer {
    padding: 0 20px 20px;
}

.buy-btn {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #555;
}

.try-pro-btn {
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, hsla(196, 100%, 48%, 1), hsla(205, 84%, 50%, 1));
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.try-pro-btn:hover {
    background-color: #007acc;
}

.arrow {
    margin-left: 8px;
}

.additional-info {
    text-align: center;
    margin-top: 40px;
    color: #0099ff;
    font-weight: 500;
}

@media (max-width: 768px) {
    .pricing-cards {
        flex-direction: column;
        align-items: center;
    }
    
    .pricing-card {
        width: 100%;
        max-width: 350px;
        margin-bottom: 20px;
    }
}